#scene {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	z-index: -1;
}


#background {
	position: relative;
	width: 1400px;
	position: relative;
    top: -50px;
	img {
	width: 1400px;
	height: auto;
	}
}

#chair, #fireplace, #mantel, #mantelGarland, #pet, #table, #tree {
	position: absolute;
}

#chair, #fireplace, #mantel, #mantelGarland, #pet, #table {
	z-index: 2;
}

#chair {
   	left: 253px;
    top: 270px;
	img {
		width: 240px;
	}
}

#fireplace {
	left: 479px;
    top: 364px;
    img {
    	width: 345px;
    }
}

#mantel {
	top: 25px;
    left: 367px;
	img {
		width: 654px;
	}
}

#mantelGarland {
	top: 269px;
    left: 406px;
	img {
		width: 589px;;
	}
}

#pet {
	top: 566px;
    left: 365px;
	img {
		width: 655px;;
	}
}

#table {
	top: 293px;
    left: 800px;
    width: 200px;
	img {
		width: 266px;
	}
}

#tree {
	top: 43px;
	left: 193px;
	z-index: 1;
	img {
		width: 280px;
	}
}

#icons {
	display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    bottom: 89px;
    z-index: 3;
	button {
		color: white;
		background: red;
		width: 100px;
		height: 20px;
	}
	img {
		width: 100px;
		margin-right: 20px;
	}
	#twitter {
		img {
			position: relative;
			bottom: 20px;
		}
	}
	#info {
		img {
			margin-right: 0px;
		}
	}
}