#scene {
	height: 100vh;
	//width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	z-index: -1;
}


#scene-wrapper {
	position: relative;
	height: auto;
	height: 700px;
	@include screen-md {
		height: 768px;

	}
	@include screen-sm {
		height: 600px;
	}
}

#background {
	display: flex;
	height: 100%;
	img {
		height: 700px;
		align-self: center;
		@include screen-md {
			height: 768px;
		}
		@include screen-sm {
			height: 600px;
			position: relative;
			top: -27px;
		}
	}
}

#glow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0, 0.5));
}


#chair, #fireplace, #fire, #mantel, #mantelGarland, #pet, #table, #tree {
	position: absolute;
	cursor: pointer;
}

#chair, #fireplace, #mantel, #mantelGarland, #pet, #table, #tree {
	transition: $transition;
	&:hover, &:active {
		filter: drop-shadow(0 0 3px rgba(255, 255, 153, 0.75)) ;
	}
}

#chair, #fireplace, #mantel, #mantelGarland, #pet, #table {
	z-index: 2;
}

#chair {
   	left: 225px;
    top: 241px;
    @include screen-md {
    	left: 247px;
    	top: 263px;
    }
    @include screen-sm {
    	left: 187px;
    	top: 178px;
    }
	img {
		width: 212px;
		@include screen-md {
			width: 235px;
		}
		@include screen-sm {
			width: 185px;
		}
	}
}

#fireplace {
	left: 419px;
    top: 323px;
    @include screen-md {
    	left: 463px;
    	top: 356px;
    }
    @include screen-sm {
    	left: 352px;
    	top: 251px;
    }
    img {
    	width: 313px;
    	@include screen-md {
    		width: 336px;
    	}
    	@include screen-sm {
    		width: 281px;
    	}
    }
}


#fire {
	left: 528px;
    top: 346px;
    z-index: 0;
    width: 109px;
    height: 145px;
    background: url(../../assets/fire.png);
    animation: play 0.7s steps(8, start) infinite;
    @include screen-md {
    	left: 587px;
    	top: 386px;
    }
    @include screen-sm {
    	left: 447px;
    	top: 244px;
    }
}

#mantel {
	top: 24px;
    left: 330px;
    @include screen-md {
    	top: 29px;
    	left: 366px;
    }
    @include screen-sm {
    	top: -5px;
    	left: 280px;
    }
	img {
		width: 577px;
		@include screen-md {
			width: 629px;
		}
		@include screen-sm {
			width: 501px;
		}
	}
}

#mantelGarland {
	top: 239px;
    left: 362px;
    @include screen-md {
    	top: 265px;
    	left: 401px;
    }
    @include screen-sm {
    	top: 182px;
    	left: 311px;
    }
	img {
		width: 521px;
		@include screen-md {
			width: 567px;
		}
		@include screen-sm {
			width: 445px;
		}
	}
}

#pet {
	top: 501px;
    left: 315px;
    @include screen-md {
    	top: 557px;
    	left: 361px;
    }
    @include screen-sm {
    	top: 405px;
    	left: 263px;
    }
	img {
		width: 585px;
		@include screen-md {
			width: 608px;
		}
		@include screen-sm {
			width: 515px;
		}
	}
}

#table {
	top: 292px;
    left: 723px;
    @include screen-md {
    	top: 312px;
    	left: 798px;
    }
    @include screen-sm {
    	top: 241px;
    	left: 634px;
    }
	img {
		width: 210px;
		@include screen-md {
			width: 237px;
		}
		@include screen-sm {
			width: 170px;
		}
	}
}

#tree {
	top: 32px;
    left: 168px;
	z-index: 1;
	@include screen-md {
		top: 37px;
		left: 211px;
	}
	@include screen-sm {
		top: -16px;
    	left: 135px;
	}
	img {
		width: 255px;
		@include screen-md {
			width: 277px;
		}
		@include screen-sm {
			width: 225px;
		}
	}
}

#twitter, #facebook, #company, #info {
	transition: $transition;
	&:hover, &:active {
		filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.5));
		box-shadow: 0px 3px 0px transparent;
    	transform: translate(0px, -3px);
	}
}

#icons {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: absolute;
	bottom: 5px;
	z-index: 3;
	width: 100%;
    @include screen-sm {
    	bottom: 0px;
    }
	img {
		margin-right: 5px;
		cursor: pointer;
	}
	#twitter {
		img {
			position: relative;
			//bottom: 20px;
			height: 35px;
			@include screen-sm {
				height: 30px;
			}
		}
	}
	#facebook {
		img {
			height: 55px;
			@include screen-sm {
				height: 50px;
			}
		}
	}

	#company {
		img {
			height: 50px;
			@include screen-sm {
				height: 45px;
			}
		}
	}
	#info {
		img {
			height: 50px;
			margin-right: 0px;
			@include screen-sm {
				height: 45px;
			}

		}
	}
}

@keyframes play {
	from { background-position: 0px 0; }
     to { background-position: -900px 0; }
}