#scene {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}


#background {
	position: relative;
	width: 1200px;
	margin: 0px auto;
	img {
	width: 1200px;
	height: auto;
	}
}

#chair {
	position: absolute;
    left: 215px;
    top: 228px;
	img {
		width: 211px;
	}
}

#fireplace {
	position: absolute;
	left: 397px;
    top: 310px;
    img {
    	width: 315px;
    }
}

#frame {
	position: absolute;
	left: 362px;
    top: 35px;
    img {
    	width: 461px;
    }
}

#mantel {
	position: absolute;
	top: 25px;
    left: 328px;
	img {
		width: 550px;
	}
}

#mantelGarland {
	position: absolute;
	top: 231px;
    left: 349px;
	img {
		width: 500px;
	}
}

#pet {
	position: absolute;
	top: 485px;
    left: 299px;
	img {
		width: 575px;
	}
}

#table {
	position: absolute;
	top: 247px;
    left: 690px;
	img {
		width: 233px;
	}
}

#tree {
	position: absolute;
	top: 0px;
	left: 0px;
	img {
		width: 500px;
	}
}